<div id="room_add">
  <form action="?m=room&o={room.operate}&rid={room.id}" method="post" class="form1">
    <table cellpadding="0" cellspacing="0" border="0">
      <tbody>
        <tr>
          <td>诊室名称：</td>
          <td><input type="text" name="name" class="mtext" value="{room.name}" /></td>
          <td>备注资料：</td>
          <td><input type="text" name="description" class="ltext" value="{room.description}" /></td>
          <td><input type="submit" name="submit" value="确认提交" /></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>