
#hnguahao{ background:#f2f2f2; margin:0 auto; font-size:12px; font-family:"宋体"; padding:10px 0; color: #000}
#hnguahao a{ text-decoration:none; border:none; font-size:12px}
#hnguahao table{ font-size:12px}
#hnguahao img{ border:none}
#hnguahao form{ width:460px; height:520px; border:1px solid #ccc; background:#fff; margin:0 auto; padding:12px 8px 8px;background:#fff }
#hnguahao h1{ text-align:center; font-size:16px; color:#da251c; height:37px; line-height:37px; text-indent:25px;  background:url(bg_shizi.jpg) 45px center no-repeat; font-weight:bold}
#hnguahao .tr1{ background:#f0f0f0}
#hnguahao td{ padding:7px}
#hnguahao b{ font-weight:bold; background:url(bg_b.gif) 0 center no-repeat; text-indent:14px; display:block}
#hnguahao u{ text-decoration:none; color:#F00}
#hnguahao .text_s{ height:18px; line-height:18px; width:100px; padding:1px 2px}
#hnguahao .text_m{ height:18px; line-height:18px; width:183px; padding:1px 2px}
#hnguahao .area_m{ line-height:18px; font-size:12px; width:310px; height:100px}
#hnguahao .bot{ text-align:center; line-height:20px; color:#aaa; font-size:12px }
#hnguahao .bot a{ color:#aaa;}